<div class="background">
<app-header></app-header>

<div class="jumbotron" style="background-color: azure;">
    <div class="container bg">
        <div class="row">
            <form class="form-inline"  #f="ngForm">
                <div class="form-group col-md-offset-3 ">                
                <input type="number" ngModel name="stock"> 
            </div>
                <span class="glyphicon glyphicon-circle-arrow-right"></span> 
                <button type="submit" (click)="buyStock()" class="btn btn-success btn-sm" [disabled]="!f.valid"> 
                 Buy Stock</button> |
                <button type="submit" (click)="sellStock()" class="btn btn-danger btn-sm"
                 [disabled]="!f.valid">
                  Sell Stock</button> |
                <strong style="text-align: center;">Want to view Stock</strong>  --
                <span class="glyphicon glyphicon-hand-right"><span> </span></span> |
                <button  (click)="showStock()" class="btn btn-danger">
                 Click Here</button>
            </form>
        </div>
    </div>
</div>
<hr>



  <div class="col-md-offset-4"  >
    <h4><strong  style="text-transform: uppercase;"
        >Search below to See the latest Stock Stats</strong> </h4> 
        <form class="form-inline md-form mr-auto mb-4" #n="ngForm">
            <input class="form-control col-md-3" type="text" placeholder="Search" aria-label="Search" ngModel name="symbol">
            <button class="btn btn-success btn-large" (click)="graph()" type="submit">Search</button>
          </form>
</div>
<hr>

<div class="grid-container"> 
  <div class="grid-item-1">
        <ul *ngFor="let data of dataset | filter:symbol " >
        <li> {{data.Company}} | {{data.Symbol}} </li>
        </ul>
    </div>
    <div class="grid-item-2" *ngIf="stock">
       <strong>Stocks in your Account : ${{stockCount}}</strong>
    </div>
    <div class="grid-item-3">
       
    </div>

</div>

    
<div class="chart-container" style=" height:40vh;">
    <canvas id="chart-1"></canvas>
</div>
</div>
