<app-header></app-header>
<div class="jumbotron" style="background-color: azure;">
    <div class="container bg">
        <div class="row">
            <form class="form-inline"  #f="ngForm">
                <div class="form-group col-md-offset-3 ">
                <input type="number" ngModel name="stock"> 
            </div>
                <span class="glyphicon glyphicon-circle-arrow-right"></span> 
                <button type="submit" (click)="buyStock()" class="btn btn-success btn-sm" [disabled]="!f.valid"> 
                 Buy Stock</button> |
                <button type="submit" (click)="sellStock()" class="btn btn-danger btn-sm"
                 [disabled]="!f.valid">
                  Sell Stock</button> |
                <strong style="text-align: center;">Want to view Stock</strong>  --
                <span class="glyphicon glyphicon-hand-right"><span> </span></span> |
                <button  (click)="showStock()" class="btn btn-danger">
                 Click Here</button>
            </form>
        </div>
    </div>
</div>
<hr>


<div class="panel panel-default " style="background-color: darkorchid;" *ngIf="stock">
    <div class="panel-heading">Stocks left in your account</div>
    <div class="panel-body">
      <strong>{{stockCount}}</strong>
    </div>
  </div>

  <div class="col-md-offset-3"  >
    <h2><strong style="text-align: center;" style="text-transform: uppercase;"
        >Graph below shows the latest Stock Stats</strong> </h2> 
</div>
<hr>
    
<div class="container size">
    <canvas id="chart-1"></canvas>
</div>

