
.bg{
   
}
.rw{
    height: 50vh;
    border: 1px solid white;
}
.c{
    border: 1px solid white;
}

.grid-container{
     background:url('../shared/img/12-121493_panda-wallpaper-hd-best-background-wallpaper-hd.jpg') no-repeat;
    height: 88vh;
    width:100%;
    display:grid;
    grid-template-columns: 600px;
    justify-content: start;
    grid-gap: 100px;
    justify-content: center;
    align-content:center;
}
.grid-items{
    
}